/*TAsk1 Pagination */
.task2,
.task3 {
  margin-top: 5rem;
  padding: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #f5f5f5;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}

ul li {
  margin-right: 5px;
}

button {
  background-color: #4caf50;
  border: none;
  color: black;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* Task3.css */

/* Form styles */
.crud-operation {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.crud-operation > .heading {
  color: #555;
}

.crud-operation > form > input {
  padding: 10px;
  margin: 20px;
  border-radius: 15px;
  border: 1px solid grey;
}

/* Table container styles */
.table_contain {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

/* Table row styles */
.tr-row {
  background-color: silver;
  color: black;
  font-size: larger;
}

/* Completed row styles */
.complete {
  background-color: rgb(228, 225, 225);
  text-decoration-color: green;
  text-decoration-thickness: 2px;
  color: red;
  font-size: smaller;
  text-decoration-line: line-through;
}

/* Table header styles */
th {
  background-color: lightgrey;
  padding: 8px;
}

/* Table cell styles */
td {
  padding: 5px;
  background-color: lightslategray;
}

/* Table styles */
table {
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
}

/* Button styles */
.btn {
  width: max-content;
  padding: 5px;
  font-size: smaller;
  margin: 5px;
}
